
<% include ../partials/header.ejs %>

<h1>Sorry!</h1>

<br />

That user hasn't rated that item. <a href="/food/findrate">Click here</a> to return to the page and try again.
<!--<div id="message" style="display:none">This Text is Hidden!</div>-->


<% include ../partials/footer.ejs %>